@font-face { font-family: BodyLightFont; src: url('Fonts/BPmonoStencil.ttf')}
@font-face { font-family: SubheaderFont; src: url('Fonts/BPmonoBold.ttf')}
@font-face { font-family: BodyFont; src: url('Fonts/BPmono.ttf')}
@font-face { font-family: HeaderFont; src: url('Fonts/OpenSans-Bold.ttf')}

:root{
    --backgroundColor:#2e2e2e;
    --textColor: white;
    --linkColor: #b7ffb0;
    --headerColor: #4faaff;
}

body{
  margin: 0;
  padding: 0;
	background-color: var(--backgroundColor);
}

/* Header */
.header{
  position: relative;
  background-color: var(--backgroundColor);

  padding-top: 40px;
  padding-right: 7vw;
  margin-left: 7vw;
  padding-bottom: 2vh;

  font-size: 1.2vw;
  font-family: HeaderFont;
  color: black;

  height: auto;
}

/* Header > Tabs */
.header a{
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.5vw;
}

/* Header > Name > Block */
.name{
  display: inline-block;
  text-align: left;
  width: 30vw;
  padding-top: 10px;
}

/* Header > Name > Name Text */
.name h1{
  letter-spacing: .45vw;

  font-family: HeaderFont;
  font-weight: normal;
  font-size: 3vw;

  color: var(--headerColor);
  margin: 0;
}

/* Header > Name > Name SubText */
.name h3{
  letter-spacing: .4vw;
  font-size: 1vw;
  color: white;
  margin: 0;
}

/* Header > Tabs > Resume */
.resume{
  display: inline-block;
  float: right;

  letter-spacing: 2px;
  margin-top: 2vh;
  padding: 1vw;
}

/* Header > Tabs > Contacts */
.contact{
  display: inline-block;
  float: right;

  letter-spacing: 2px;
  margin-right: 1.5vw;
  margin-top: 2vh;
  padding: 1vw;
}

/* Header > Tabs > About Me */
.aboutme{
  display: inline-block;
  float: right;

  letter-spacing: 2px;
  margin-top: 2vh;
  padding: 1vw;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .2s ease;
}

.text {
  color: var(--textColor);
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.wrap{
  width: 80%;
  position: absolute;
  left: 10%;
}
