body{
  margin: 0;
  padding: 0;
	background-color: white;
}

.header{
  position: relative;
  background-color: white;

  padding-top: 40px;
  padding-right: 7vw;
  margin-left: 7vw;
  padding-bottom: 2vh;

  font-size: 1.2vw;
  font-family: RobotoBold;
  color: black;

  height: auto;
}

.header a{
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

.name{
  display: inline-block;
  text-align: left;
  width: 30vw;
  padding-top: 10px;
}

.name h1{
  letter-spacing: .45vw;

  font-family: RobotoBlack;
  font-weight: normal;
  font-size: 3vw;

  color: #000080;
  margin: 0;
}

.name h3{
  letter-spacing: .4vw;
  font-size: 1vw;
  color: black;
  margin: 0;
}


.resume{
  display: inline-block;
  float: right;

  letter-spacing: 2px;
  margin-top: 2vh;
  padding: 1vw;
}

.contact{
  display: inline-block;
  float: right;

  letter-spacing: 2px;
  margin-right: 1.5vw;
  margin-top: 2vh;
  padding: 1vw;
}

.aboutme{
  display: inline-block;
  float: right;

  letter-spacing: 2px;
  margin-top: 2vh;
  padding: 1vw;
}

p{
  font-size: 20px;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

ul{
  font-size: 20px;
}

h1{
  font-family: RobotoBlack;
  font-size: 50px;
}

h3{
  font-family: RobotoBold;
  font-size: 30px;
}

img{
  width: 90%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.caption i{
  color: white;
  font-size: 100%;
}

.caption{
  position: relative;
  width: 100%;
  height: 100;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bodytext{
  color: black;
  margin-bottom: 150px;
  font-family: RobotoRegular;
}

.imgcontainer:hover .overlay {
  height: 35%;
  z-index: 5;
}

.videocontainer:hover .overlay{
  height: 35%;
  z-index: 5;
}

.grounded{
  width: 100%;
  height: 100%;
}

.bookmark{
  position: relative;
  background-color: white;

  height: auto;
  text-align: left;

  font-family: Roboto;
  color: black;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 40px;

  font-size: 25px;
}

.bookmark a{
  color: black;
}

.wrap{
  width: 70%;
  position: absolute;
  left: 15%;
}

.alignleft{
  float: left;
  width: 33.33%;
  text-align: left;
}

.aligncenter{
  float: left;
  width: 33.33%;
  text-align: center;
}

.alignright{
  float: left;
  width: 33.33%;
  text-align: right;
}

.footer{
  font-family: RobotoBold;
  font-size: 2vw;

  height: 12vh;
}

.footer a{
  text-decoration: none;
  color: #000080;
}
